mat-grid-tile {
    border-radius: 20px;
    background-color: aqua;
}

mat-grid-list {
    margin: 30px;
    max-width: 800px;
}

h2 {
    padding-left: 25px;
}

.reset-button {
    padding-left: 30px;
}